@font-face {
    font-family: "Futura";
    src: url('fonts/Futura\ Light\ font.ttf');
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    height: 150px;
}

.izquierda{
    display: flex;
    align-items: center;    
    width: 20%;
    overflow: hidden;
}

.izquierda img{
    transform: scale(0.6);
}

.menu{    
    width: 60%;
}

.navegacion{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;    
}

header li{
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: #009D95;
    font-family: futura;

}
.derecha{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}
.derecha img{
    width: 40px;
    height: 40px;
}
.central{
    width: 100%;

}
.central img{
    width: 100%;     
}
.boton{
    position: fixed;
    top: 85%;
    transform: scale(0.8);
    
}

@media (max-width: 768px){
    .navegacion{
        display: flex;
        flex-direction: column;
    }       
    .izquierda{
        order: 2;
    }
    .izquierda img{
        transform: scale(0.5);
    }
    .derecha{
        order:3;
    }
}
@media (max-width: 480px){
    nav a{
        color: #ea99a0;    
      }
}

